body {
    font: 400 16px/28px 'Ubuntu', Arial, sans-serif;
    color: #ffffff !important;
    overflow-x: hidden;
    background: #0b0b0b !important;
}
img {
    max-width: 100%;
}
a, 
a:active {
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}
a:hover, a:focus {
    text-decoration: none;
}
video { 
    width: 100%; 
    margin: 0;
}

/* Font Weight */
span.extrallight {
    font-weight: 100;
}
span.thin {
    font-weight: 200;
}
span.light {
    font-weight: 300;
}
span.medium {
    font-weight: 500;
}
span.semibold {
    font-weight: 600;
}
span.bold {
    font-weight: 700;
}
span.extrabold {
    font-weight: 800;
}
span.heavy {
    font-weight: 900;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0 0 30px; 
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 14px;
}

/* section title */
.section-title {
    margin: 80px 0 60px; 
    text-align: center;
}

.section-title h1 {
    color: #f2b84b;
    font-size: 50px;
    margin: 0 0 20px;
    font-family: 'David Libre';
}
.section-title h3 {
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* Scroll Up */
.scrollup {
    position: fixed;
    right: 30px;
    bottom: 10%;
    width: 50px;
    height: 50px;
    z-index: 99;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    line-height: 1.7;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
    display: none;
}
a.scrollup i {
    color: #fff;
}
a.scrollup:hover {
    opacity: 1;
}

/*  Header */

/* Logo */
#logo {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 99;
}
.welcome-img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
	z-index: -1;
    border: 0;
	-webkit-filter: grayscale(1) blur(3px);
	filter: grayscale(1) blur(3px);
	position: relative;
}
.welcome-text {
	text-align: left !important;
	position: absolute;
	margin-top: 15rem !important;
	padding-left: 10px;
	padding-right: 10px;
	border-left-style: solid;
	border-left-width: 20px;
	border-right-style: solid;
	border-right-width: 20px;
	width: auto;
	background: black;
	color: #f2b84b;
}
.welcome-text h1 {
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
	font-family: 'David Libre';
	color: #f2b84b;
}
.welcome-text h3 {
    font-weight: 400;
    margin-bottom: 20px;
	font-family: 'Ubuntu';
	color: #f2b84b;
}

/* Navbar */

nav {
	font-family: 'David Libre';
}
#navigation {
	overflow: hidden;
}
.navbar-custom {
    background-color: black;
}
/* change the brand and text color */
.navbar-custom, .navbar-custom .navbar-text {
    color: rgba(255,255,255);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}