body {
    font: 400 16px/28px 'Ubuntu' !important;
    color: #ffffff !important;
    overflow-x: hidden;
    background: #0b0b0b !important;
}
img {
    width: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
}
a, 
a:active {
	color: #f2b84b !important;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}
a:hover, a:focus {
	color: white !important;
    text-decoration: none !important;
}
video { 
    width: 100%; 
    margin: 0;
}
hr {
	margin-top: 2rem !important;
	border-top: 1px solid white !important;
}

/* Font Weight */
span.extrallight {
    font-weight: 100;
}
span.thin {
    font-weight: 200;
}
span.light {
    font-weight: 300;
}
span.medium {
    font-weight: 500;
}
span.semibold {
    font-weight: 600;
}
span.bold {
    font-weight: 700;
}
span.extrabold {
    font-weight: 800;
}
span.heavy {
    font-weight: 900;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0 0 30px; 
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 14px;
}

/* Section Title */
.section-title {
    margin: 40px 0 30px; 
    text-align: center;
}

.section-title h1 {
    color: #f2b84b;
    font-size: 50px;
    margin: 0 0 20px;
    font-family: 'David Libre';
}
.section-title h3 {
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* Scroll Up */
.scrollup {
    position: fixed;
    right: 30px;
    bottom: 10%;
    width: 50px;
    height: 50px;
    z-index: 99;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    line-height: 1.7;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
    display: none;
}
a.scrollup i {
    color: #fff;
}
a.scrollup:hover {
    opacity: 1;
}

/*  Header */
.welcome-img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
	-webkit-filter: grayscale(1) blur(3px);
	filter: grayscale(1) blur(3px);
    overflow-x:hidden;
    overflow-y:hidden;
}
@media (max-width: 767.98px) {
	.welcome-img {
		font-size: 60px;
		font-weight: 400;
		margin-bottom: 6px;
	}
}
.welcome-text {
	text-align: left !important;
	position: absolute;
	margin-top: 15rem !important;
	padding-left: 10px;
	padding-right: 10px;
	border-left-style: solid;
	border-left-width: 20px;
	border-right-style: solid;
	border-right-width: 20px;
	width: auto;
	background: black;
	color: #f2b84b;
}
@media (max-width: 767.98px) {
	.welcome-text {
		margin-top: 10rem !important;
		padding-left: 6px;
		padding-right: 6px;
		border-left-width: 14px;
		border-right-width: 14px;
	}
}
.welcome-text h1 {
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
	font-family: 'David Libre';
	color: #f2b84b;
}
@media (max-width: 767.98px) {
	.welcome-text h1 {
		font-size: 60px;
		font-weight: 400;
		margin-bottom: 6px;
	}
}
.welcome-text h3 {
    font-weight: 400;
    margin-bottom: 20px;
	font-family: 'Ubuntu';
	color: white;
}
@media (max-width: 767.98px) {
	.welcome-text h3 {
		font-weight: 266;
		margin-bottom: 14px;
	}
}

/* Header */
header {
	overflow: auto;	
}

/* Navbar */
.navbar-custom {
    background-color: #0b0b0b;
}
.navbar-custom, .navbar-custom .navbar-text {
    color: rgba(255,255,255);
}
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #f2b84b;
}
#navigation {
	width: 100%;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	position: fixed;
	z-index: 10;
}

/* Map */
#map {
	height: 350px;
}
.map-frame {
	width: 100%;
    float: left;
}
#mapsource {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

/* Menu */
.menu-img {
    height: 300px;
}
.menu-img:hover {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

/* Reviews */
.stars {
	width: 50px;
}
.stars img {
	width: 10px;
}

/* Contact */
#privacy-text {
	line-height: 1rem;
}

/* Footer */
#footer {
	padding: 1em 0;
}